<div class="portal-details">
  <div *ngIf="loading" class="loading-container" style="width: 100%;">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!loading" class="portal-container" id="portal-container-id">
    <div *ngIf="manualCardSelect"  [ngSwitch]="profileType">
      <app-inquiry-template style="width: 100%" [selectedCardJson]="manualCardSelect" [cardJson]="cardJson" *ngSwitchCase="'inquiry'" ></app-inquiry-template>
      <app-credit-memo-template style="width: 100%" [selectedCardJson]="manualCardSelect" [cardJson]="cardJson" *ngSwitchCase="'credit-memo'" ></app-credit-memo-template>
      <app-sale-order-template style="width: 100%" [selectedCardJson]="manualCardSelect" [cardJson]="cardJson" *ngSwitchCase="'sale-order'" ></app-sale-order-template>
      <app-delivery-list-template style="width: 100%" [selectedCardJson]="manualCardSelect" [cardJson]="cardJson" *ngSwitchCase="'delivery'" ></app-delivery-list-template>
      <app-invoice-template style="width: 100%" [selectedCardJson]="manualCardSelect" [cardJson]="cardJson" *ngSwitchCase="'invoice'" ></app-invoice-template>
      <app-payment-aging-template style="width: 100%" [selectedCardJson]="manualCardSelect" [cardJson]="cardJson" *ngSwitchCase="'payments-aging'" ></app-payment-aging-template>
      <app-quotation-template style="width: 100%" [selectedCardJson]="manualCardSelect" [cardJson]="cardJson" *ngSwitchCase="'quotation'" ></app-quotation-template>
      <app-purchase-order-template style="width: 100%" [selectedCardJson]="manualCardSelect" [cardJson]="cardJson" *ngSwitchCase="'purchase-order'" ></app-purchase-order-template>
      <app-goods-receipt-template style="width: 100%" [selectedCardJson]="manualCardSelect" [cardJson]="cardJson" *ngSwitchCase="'goods-receipt'" ></app-goods-receipt-template>
      <app-payment-overdue-template style="width: 100%" [selectedCardJson]="manualCardSelect" [cardJson]="cardJson" *ngSwitchCase="'payments-overdues'" ></app-payment-overdue-template>
      <app-leave-request-template style="width: 100%" [selectedCardJson]="manualCardSelect" [cardJson]="cardJson" *ngSwitchCase="'leave-request'" ></app-leave-request-template>
      <app-salary-template style="width: 100%" [selectedCardJson]="manualCardSelect" [cardJson]="cardJson" *ngSwitchCase="'salary-data'" ></app-salary-template>
    </div>
    <button *ngIf="manualCardSelect" class="print btn btn-primary" printSectionId="portal-container-id" ngxPrint [useExistingCss]="true">PRINT</button>
    <div *ngIf="!manualCardSelect" class="getting-started">
      <img src="assets/portals/illustration.svg" alt="90" />
      <span>SELECT A RECORD TO GET STARTED</span>
    </div>
  </div>
</div>
