<div class="portal-details">
  <div *ngIf="loading" class="loading-container" style="width: 100%;">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!loading" class="portal-container" id="portal-container-id">
    <div *ngIf="selectedCardJson" class="portal-container" [ngSwitch]="profileType">
      <app-inquiry-template style="width: 100%" [selectedCardJson]="selectedCardJson" [cardJson]="cardJson" *ngSwitchCase="'inquiry'" ></app-inquiry-template>
      <app-credit-memo-template style="width: 100%" [selectedCardJson]="selectedCardJson" [cardJson]="cardJson" *ngSwitchCase="'credit-memo'" ></app-credit-memo-template>
      <app-sale-order-template style="width: 100%" [selectedCardJson]="selectedCardJson" [cardJson]="cardJson" *ngSwitchCase="'sale-order'" ></app-sale-order-template>
      <app-delivery-list-template style="width: 100%" [selectedCardJson]="selectedCardJson" [cardJson]="cardJson" *ngSwitchCase="'delivery'" ></app-delivery-list-template>
      <app-invoice-template style="width: 100%" [selectedCardJson]="selectedCardJson" [cardJson]="cardJson" *ngSwitchCase="'invoice'" ></app-invoice-template>
    </div>
    <button *ngIf="selectedCardJson" class="print btn btn-primary" printSectionId="portal-container-id" ngxPrint [useExistingCss]="true">PRINT</button>
    <div *ngIf="!selectedCardJson" class="getting-started">
      <img src="assets/portals/illustration.svg" alt="90" />
      <span>SELECT A RECORD TO GET STARTED</span>
    </div>
  </div>
</div>
