<div class="dashboard">
  <nav class="nav-container">
      <div routerLink='/' class="logo-1">
          <img src='assets/kaar.svg' alt="D"/>
      </div>

      <div class="profile">
          <!-- <img src='assets/profile.svg' alt="P"/> -->
      </div>
  </nav>
  <div class="dashboard-container">
    <img class="m-t-50" src="assets/error.svg" alt="404">
    <div class="error-message">
      <div class="error-heading">Whoops! Lost in Space?</div>
      <div class="error-message m-t-10">
        The page you’re looking for isn’t found :( <br/>
        We suggest you back to home5
      </div>
    </div>
    <button class="btn-primary m-t-25" routerLink="">Back to Home</button>
  </div>
</div>
