.dashboard .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  background: #ffffff;
  border: 0.5px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(26, 51, 42, 0.06);
  /* z-index: 100; */
}

.nav-container .logo {
  display: flex;
  align-items: center;
}

.nav-container .logo span {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 17px;
}

.dashboard .logo img {
  width: 58px;
  height: 58px;
}

.dashboard .profile img {
  width: 42px;
  height: 42px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.dashboard .directory-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: #071a13;
}

.profile button {
  padding: 8px 24px;
  width: 88px;
  height: 32px;
  background: #34bd8e;
  border-radius: 4px;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.3px;
  color: #ffffff;
  margin: 0 10px;
}

.side-bar {
  background: #ffffff;
  border: 0.5px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.1);
  width: 240px;
  height: calc(100vh - 64px);
  /* margin-top: -3px; */
  /* margin-top: 4px; */
  /* z-index: 0; */
}

.dashboard .profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dashboard-container {
  /* overflow: hidden; */
  /* z-index: 0; */
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100vh - 70px);
  overflow: hidden;

}

.side-bar .recents {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 10px;
  border-radius: 4px;
}

.recents .icon {
  margin: 0 10px;
}

.side-bar .recents {
  background-color: #789cd334;
  cursor: pointer;
}

.side-bar span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.408px;
  color: #000000;
  margin-top: 2px;
}

.recents span {
  color: #204173;
}

.selected-option {
  border: 1px solid #a6a6a6;
  width: 180px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: rgb(85, 84, 84);
  font-weight: 600;
  background-color: #fff;
  font-size: 12px;
}

#filter-id {
  position: relative;
}

.option-list-container {
  position: absolute;
  top: 40px;
  transform: translateY(-10px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s ease;
  padding: 10px;
  background-color: #fff;
  margin-top: 5px;
  border-radius: 3px;
  box-shadow: 0 2px 4px #a6a6a6;
  width: 190px;
  z-index: 100;
}

.option-list {
  overflow: auto;
  max-height: 300px;
  margin: 5px 0;
}

.option-item {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 2px;
  margin: 5px 0;
  font-family: "Roboto", sans-serif;
}

.option-item:hover {
  background-color: #e3ebf6;
}

.search-option {
  border: 1px solid #a6a6a6;
  font-size: 15px;
  padding: 5px 10px;
  width: 100%;
  border-radius: 3px;
}

.search-field {
  border: 0;
  border-bottom: 1px solid #a6a6a6;
  padding: 5px 10px 5px 25px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.list-search {
  width: 370px;
  position: relative;
}

.list-search img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -55%);
}

.basic-portal-side-bar {
  background: #ffffff;
  border: 0.5px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.1);
  width: 420px;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-top: 3px;
}

.list-heading {
  /* position: relative; */
  width: 370px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: rgba(7, 26, 19, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-filter {
  /* position: absolute; */
  right: 0px;
  bottom: 5px;
}

.filter-backdrop,
.profile-option-backdrop {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.data-cards-container {
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.card-column .data-heading {
  font-family: "Roboto";
  font-size: 12px;
  color: #000000;
  margin: 10px 0;
}

.card-column .data-item {
  font-family: "Roboto";
  font-size: 12px;
  color: #333333;
  margin: 10px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 220px;
  white-space: nowrap;
  display: flex;
}

.card-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

.data-cards {
  display: flex;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  margin: 15px 0;
  cursor: pointer;
  width: 85%;
  position: relative;
}

.card-container{
  display: flex;
  padding: 20px;
  width: 100%;
  z-index: 10;
  border-radius: 4px;
}

.card-container-bg-selected{
  background-color: #F5F5F5;
}

.card-bg{
  position: absolute;
  width: 104.5%;
  height: 110%;
  top: -7.5px;
  left: -7.5px;
  border-radius: 3px;
  z-index: 1;
}

.card-bg-selected{
  background-color: #3661A3;
  opacity: 0.15;
}

.data-cards .card-column:first-child {
  width: 200px!important;
  margin-right: 20px;
  white-space: nowrap;
}

.data-cards-selected {
  background: #3662a30a;
  /* box-shadow: 0 2px 4px #3662a36c; */
  border: 1px solid #a6a6a6;
}

.dashboard-content {
  height: calc(100vh - 64px);
  display: flex;
  width: calc(100% - 400px);
  justify-content: center;
  align-items: center;
  background-color: rgba(187, 187, 187, 0.3);
}

.dashboard-content-unshrink {
  width: calc(100% - 423px);
}

.dashboard-content .getting-started img {
  width: 600px;
  margin-bottom: 20px;
}

.getting-started {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getting-started span {
  font-family: "Roboto";
  font-size: 25px;
  color: #6b6b6b;
  font-weight: 700;
}

.highlight {
  background: orange;
  color: black;
}

/* basic sidebar/ */
.basic-sidebar {
  height: calc(100vh - 114px);
  width: 170px;
  background-color: #204173;
  border-radius: 6px;
  margin: 0 10px;
  transition: all 0.2s ease;
}

.collapse-container .collapse {
  position: relative;
  height: 70px;
}

.collapse-container .collapse img {
  position: absolute;
  right: -16px;
  top: 10px;
  cursor: pointer;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-items .sidebar-item {
  /* height: 30px; */
  border-radius: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  width: 140px;
  color: #fff;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 7px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-items .sidebar-item:hover {
  background-color: #3661a3;
  color: #fff;
}

.sidebar-item-active {
  background-color: #fff !important;
  color: #204173 !important;
}

.basic-sidebar-shrink {
  width: 60px;
}

.sidebar-item-shrink {
  border-radius: 50px !important;
  width: 35px !important;
  height: 35px !important;
  padding: 0 !important;
}

.profile-options {
  position: absolute;
  top: 40px;
  right: 20px;
  transform: translateY(-10px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s ease;
  padding: 6px;
  background-color: #fff;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #a6a6a6;
  width: 155px;
  height: 95px;
  z-index: 100;
}

.profile-options .options{
  border-radius: 4px;
  padding: 10px 0;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: #A6A6A6;
  cursor: pointer;
}

.profile-options .options:hover{
  background: #204173;
  color: #fff;
}


.show-select-option {
  transform: translate(0);
  visibility: visible;
  opacity: 1;
}

.loading-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.portal-content{
  display: flex;
  width: 100%;
  align-items: center;
  animation: slideInPortal 0.3s;
}

@keyframes slideInPortal {
  from {
    transform: translateX(50px);
  }
  to{
    transform: translateY(0)
  }
}

.no-cards-found{
  font-family: 'Roboto';
  font-size: 20px;
  color: #535252;
  margin-top: 50px;
}


.bar-graph{
  width: 80%;
  height: calc(100vh - 164px);
  margin: 0 90px;
}

.print{
  position: absolute;
  top: 100px;
  right:100px;
}

@media print{
  @import '~bootstrap/dist/css/bootstrap.min.css';

.bar-graph{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width: 100%;
}

.heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #204173;
    width: 100%;
}


}

.modal-container{
  position: relative;
}

.modal-container .explore{
  position: absolute;
  bottom: 20px;
  left: 10px;
  border: 0;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-size: 15px ;
  color: #204173;
  background-color: transparent;
  cursor: pointer;
}

