<div class="dashboard">
  <div class="filter-backdrop hide" (click)="toggleSelect($event)"></div>
  <div
    class="profile-option-backdrop hide"
    (click)="toggleProfileOption($event)"
  ></div>
  <nav class="nav-container">
    <div routerLink='/' class="logo-1">
      <img src="assets/kaar.svg" alt="D" />
    </div>
    <div class="directory-name">
      <span>Dashboard</span>
    </div>
    <div class="profile" (click)="toggleProfileOption()">
      <img src="assets/profile.svg" alt="P" />
      <div class="profile-options">
        <div [routerLink]="[routerData.profileTypeUrl, 'profile']" class="options">Profile Settings</div>
        <div routerLink="/" class="options m-t-5">Logout</div>
      </div>
    </div>
  </nav>
  <div class="dashboard-container">
    <div class="basic-sidebar">
      <div class="collapse-container">
        <div class="collapse">
          <img
            (click)="collapseSidebar()"
            attr.rotated="{{sidebarShrink}}"
            src="assets/collapse-icon.svg"
            alt=""
          />
        </div>
        <div class="sidebar-items">
          <div *ngFor="let data of jsonDetails.portalDetails[routerData.profileType]">
            <div
              *ngFor="let portalName of data.portal_list"
              [routerLink]="[routerData.profileTypeUrl, 'portal', portalName.url]"
              routerLinkActive="sidebar-item-active"
              [ngClass]="{'sidebar-item':true,'tooltip':true,'sidebar-item-shrink':sidebarShrink}"
              attr.full-form="{{ portalName.full_form }}"
              attr.short-form="{{ portalName.short_form }}"
            >
              <div *ngIf="sidebarShrink">
                {{ portalName.short_form }}
              </div>
              <div *ngIf="!sidebarShrink">
                {{ portalName.full_form }}
              </div>
              <span class="tooltiptext">Tooltip text</span>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="loading" class="loading-container" style="width: 100%;">
      <app-loading></app-loading>
    </div>
    <div *ngIf="!loading" class="portal-content">
      <div class="basic-portal-side-bar">
        <div class="list-heading m-b-10 m-t-20">
          <span>Portal Records</span>
          <div class="sort-by">
            <span>&nbsp;Sort by:</span>
            <div class="category-filter m-t-5">
              <div name="filter" id="filter-id">
                <div (click)="toggleSelect($event)" class="selected-option">
                  <span>{{
                    selectedOption != null ? selectedOption : "SELECT A FIELD"
                  }}</span>
                  <img src="assets/down-arrow.svg"
                    alt=">"
                    style="margin-top: -3px"/>
                </div>
                <div class="option-list-container">
                  <input
                    type="text"
                    (input)="updateSelectList($event)"
                    class="search-option"
                    placeholder="Field name"/>
                  <div class="option-list" id="custom-scroll">
                    <div
                      (click)="updateSelectedOption($event)"
                      *ngFor="let option of optionList"
                      class="option-item">
                      {{ option }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="list-search">
          <img src="assets/search.svg" alt="🔍" />
          <input type="text" class="search-field"
            placeholder="Search"
            (input)="updateCardlist($event)"/>
        </div>
        <div class="data-cards-container" id="custom-scroll">
          <div class="no-cards-found" *ngIf="(jsonDetails.sampleData.length == 0)">No Record(s) found</div>
          <div
            class="data-cards"
            (click)="updateRecordDetails($event)"
            *ngFor="let card of jsonDetails.sampleData; let i=index">
            <div class="card-container">
              <div class="card-column">
                <div class="data-heading" *ngFor="let label of jsonDetails.portalDetails[routerData.portalType].primary_fields">
                  {{label | uppercase}}
                </div>
                <div class="data-heading" *ngIf="(jsonDetails.additionalSearchKeys )&& (jsonDetails.additionalSearchKeys[i]!=undefined)">
                  {{[jsonDetails.additionalSearchKeys[i]]}}
                </div>
              </div>
              <div class="card-column">
                <div class="data-item" *ngFor="let data of jsonDetails.portalDetails[routerData.portalType].primary_fields">
                  {{card[data]}}
                </div>
                <div class="data-item" *ngIf="(jsonDetails.additionalSearchKeys )&& (jsonDetails.additionalSearchKeys[i]!=undefined)">
                  {{card[jsonDetails.additionalSearchKeys[i]]}}
                </div>
              </div>
            </div>
            <div class="card-bg"></div>
          </div>
        </div>
      </div>
      <div class="dashboard-content dashboard-content-unshrink">
        <app-portal-details [selectedCardJson] = "jsonDetails.selectedCardJson" [profileType]="routerData.profileType" [cardSelected]="cardSelected"></app-portal-details>
      </div>
    </div>
  </div>
</div>
