<div class="inquiry">
    <div class="nav-bar">
        <div class="tooltip left" *ngIf="inquiry">
            <a href="#" class="chip" [routerLink]="['/customer','portal','inquiry']" [queryParams]="{ doc: inquiry}">
                INQUIRY
            </a>
            <img src="assets/link-arrow.svg" alt="">
            <span class="tooltiptext">{{inquiry}}</span>
        </div>
        <a href="#" class="chip chip-selected">
            SALE ORDER
        </a>
        <div class="tooltip" *ngIf="delivery">
            <img src="assets/link-arrow.svg" alt="">
            <a href="#" class="chip" [routerLink]="['/customer','portal','delivery']" [queryParams]="{ doc: delivery, inquiry: inquiry, sale: sales, invoice: invoice}">
                DELIVERY
            </a>
            <span class="tooltiptext">{{delivery}}</span>
        </div>
        <div class="tooltip" *ngIf="invoice">
            <img src="assets/link-arrow.svg" alt="">
            <a href="#" class="chip" [routerLink]="['/customer','portal','invoice']" [queryParams]="{ doc: invoice, inquiry: inquiry, sale: sales, delivery: delivery}">
                INVOICE
            </a>
            <span class="tooltiptext">{{invoice}}</span>
        </div>
    </div>
    <div class="inquiry-text m-t-50 m-b-50">SALES ORDER DOCUMENT</div>
    <div class="customer-details">
        <div class="customer-id flex">
            <div class="label">CUSTOMER ID: &nbsp;</div>
            <div class="value">{{cardJson.KUNNR._text}}</div>
        </div>
        <div class="name flex">
            <div class="label">NAME: &nbsp;</div>
            <div class="value">{{customerName}}</div>
        </div>
    </div>
    <div class="inquiry-details">
        <div class="inquiry-id flex">
            <div class="label">SALES ORDER DOCUMENT NO: &nbsp;</div>
            <div class="value">{{cardJson.VBELN._text}}</div>
        </div>
        <div class="created-on flex">
            <div class="label">CREATED ON: &nbsp;</div>
            <div class="value">{{getDate(cardJson.AUDAT._text)}}</div>
        </div>
    </div>
    <div class="inquiry-container m-t-50">
        <div class="heading">
            <div class="row">
                <div class="mat-no">MATERAIL NO.</div>
                <div class="mat-name">NAME</div>
                <div class="quantity">QUANTITY</div>
                <div class="price">PRICE/UNIT ({{cardJson.WAERK._text}})</div>
            </div>
        </div>
        <div class="container">
            <div class="row m-t-25">
                <div class="mat-no">{{cardJson.MATNR._text}}</div>
                <div class="mat-name">{{cardJson.MATKL._text}}</div>
                <div class="quantity">{{deleteDecimal(cardJson.KWMENG._text)}}</div>
                <div class="price">{{deleteDecimal(cardJson.NETPR._text)}}</div>
            </div>
            <div class="total-container m-t-50">
                <div class="total-label">TOTAL</div>
                <div class="total">{{cardJson.WAERK._text}}&nbsp;{{cardJson.NETWR._text}}</div>
            </div>
        </div>
    </div>
    <div class="inquiry-details">
        <div class="inquiry-id flex">
            <div class="label">TERMS OF PAYMENT: &nbsp;</div>
            <div class="value">{{portalDetails["sale-order"].code[cardJson.BSTNK._text] | uppercase}} &nbsp; ({{cardJson.BSTNK._text}})</div>
        </div>
        
    </div>
</div>