<div class="inquiry">
    <div class="inquiry-text m-t-50 m-b-50">PURCHASE ORDER DOCUMENT</div>
    <div class="customer-details">
        <div class="customer-id flex">
            <div class="label">CUSTOMER ID: &nbsp;</div>
            <div class="value">{{customerID}}</div>
        </div>
        <div class="name flex">
            <div class="label">NAME: &nbsp;</div>
            <div class="value">{{customerName | uppercase}}</div>
        </div>
    </div>
    <div class="inquiry-details">
        <div class="inquiry-id flex">
            <div class="label">INQUIRY ID: &nbsp;</div>
            <div class="value">{{cardJson.EBELN._text}}</div>
        </div>
        <div class="created-on flex">
            <div class="label">CREATED ON: &nbsp;</div>
            <div class="value">{{getDate(cardJson.AEDAT._text)}}</div>
        </div>
        <!-- <div class="created-on flex">
            <div class="label">VALID TILL: &nbsp;</div>
            <div class="value">{{getDate(cardJson.BNDDT._text)}}</div>
        </div> -->
    </div>
    <div class="inquiry-container m-t-50">
        <div class="heading">
            <div class="row">
                <div class="mat-name">NAME</div>
                <div class="quantity">QUANTITY</div>
                <div class="price">PRICE/UNIT <div class="unit" *ngIf="cardJson.WAERS._text">({{cardJson.WAERS._text}})</div></div>
            </div>
        </div>
        <div class="container">
            <div class="row m-t-25">
                <div class="mat-name">{{cardJson.TXZO1._text}}</div>
                <div class="quantity">{{deleteDecimal(cardJson.MENGE._text)}}</div>
                <div class="price">{{deleteDecimal(cardJson.NETPR._text)}}</div>
            </div>
            <div class="total-container m-t-50">
                <div class="total-label">TOTAL</div>
                <div class="total">{{cardJson.WAERS._text}}&nbsp;{{cardJson.NETWR._text}}</div>
            </div>
        </div>
        
    </div>
</div>