<div class="inquiry">
    <div class="nav-bar">
        <a href="#" class="chip chip-selected">
            INQUIRY
        </a>
        <!-- <div *ngIf="cardJson.VBELN_B._text">
            <img src="assets/link-arrow.svg" alt="">
            <a href="#" class="chip" [routerLink]="['/customer','portal','sale-order']" [queryParams]="{ doc: cardJson.VBELN_B._text }">
                QUOTATION
            </a>
        </div> -->
        <div *ngIf="cardJson.VBELN_C._text">
            <img src="assets/link-arrow.svg" alt="">
            <a href="#" class="chip" [routerLink]="['/customer','portal','sale-order']" [queryParams]="{ doc: cardJson.VBELN_C._text, inquiry: cardJson.VBELN._text, invoice: cardJson.VBELN_M._text}">
                SALE ORDER
            </a>
        </div>
        <div *ngIf="cardJson.VBELN_M._text">
            <img src="assets/link-arrow.svg" alt="">
            <a href="#" class="chip" [routerLink]="['/customer','portal','invoice']" [queryParams]="{ doc: cardJson.VBELN_M._text, inquiry: cardJson.VBELN._text, sale: cardJson.VBELN_C._text}">
                INVOICE
            </a>
        </div>
    </div>
    <div class="inquiry-text m-t-50 m-b-50">INQUIRY DOCUMENT</div>
    <div class="customer-details">
        <div class="customer-id flex">
            <div class="label">CUSTOMER ID: &nbsp;</div>
            <div class="value">{{cardJson.KUNNR._text}}</div>
        </div>
        <div class="name flex">
            <div class="label">NAME: &nbsp;</div>
            <div class="value">{{customerName}}</div>
        </div>
    </div>
    <div class="inquiry-details">
        <div class="inquiry-id flex">
            <div class="label">INQUIRY ID: &nbsp;</div>
            <div class="value">{{cardJson.VBELN._text}}</div>
        </div>
        <div class="created-on flex">
            <div class="label">CREATED ON: &nbsp;</div>
            <div class="value">{{getDate(cardJson.AUDAT._text)}}</div>
        </div>
        <!-- <div class="created-on flex">
            <div class="label">VALID TILL: &nbsp;</div>
            <div class="value">{{getDate(cardJson.BNDDT._text)}}</div>
        </div> -->
    </div>
    <div class="inquiry-container m-t-50">
        <div class="heading">
            <div class="row">
                <div class="mat-name">NAME</div>
                <div class="quantity">QUANTITY</div>
                <div class="price">PRICE/UNIT ({{cardJson.WAERK._text}})</div>
            </div>
        </div>
        <div class="container">
            <div class="row m-t-25">
                <div class="mat-name">{{cardJson.MATKL._text}}</div>
                <div class="quantity">{{deleteDecimal(cardJson.KWMENG._text)}}</div>
                <div class="price">{{deleteDecimal(cardJson.NETPR._text)}}</div>
            </div>
            <div class="total-container m-t-50">
                <div class="total-label">TOTAL</div>
                <div class="total">{{cardJson.WAERK._text}}&nbsp;{{cardJson.NETWR._text}}</div>
            </div>
        </div>
        
    </div>
</div>