.inquiry{
    width: 100%;
    /* height: calc(100vh - 120px); */
    margin: 0 auto;
}

*{
    font-family: 'Open Sans', sans-serif;
}

.inquiry-container{
    display: flex;
    flex-direction: column;
}

.heading .row div{
    font-weight: bold;

}

.inquiry-container .row{
    display: flex;
}

.row .mat-name{
    flex: 1;
}

.row div{
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.row .quantity, .row .price{
    width: 150px;
    display: flex;
    justify-content: center;
}

.heading .row{
    width: 100%;
    height: 43px;
    background: rgba(196, 196, 196, 0.3);
    border-radius: 2px;
    padding:0 40px
}

.label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #00000080;
    margin: 5px 0;
}

.value{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #000000;
    margin: 5px 0;
}

.container .row{
    width: 100%;
    height: 43px;
    padding:0 40px

}

.container .total-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.flex{
    display: flex;
}

.container .row div{
    font-size: 13px;
}

.total-container .total-label{
    width: 168px;
    height: 52px;
    background: #204173;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.total-container .total{
    width: 228px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #204173;
    border: 1px solid #204173;

}

.inquiry-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #204173;
}

.inquiry .nav-bar{
    display: flex;
    width: 100%;
    padding: 10px;
}

.nav-bar .chip{
    padding:10px 25px;
    border-radius: 50px;
    text-decoration: none;
    border: 1px solid #204173;
    color: #204173;
    font-family: 'Roboto';
    font-size: 13px;
}

.chip-selected{
    background-color: #204173;
    color: #fff!important;
}

.inquiry .nav-bar div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inquiry .nav-bar div img{
    margin: 0 20px;
}