<div class="dashboard">
  <nav class="nav-container">
    <div routerLink='/' class="logo-1">
      <img src="assets/kaar.svg" alt="D" />
    </div>
    <div class="directory-name">
      <span>PROFILE SETTINGS</span>
    </div>
    <div class="profile">
      <button class="go-to-btn" [routerLink]="[portalType, 'portal',portalDetails[this.activeRouter.snapshot.params.type][0].portal_list[0].url]">GO TO PORTAL</button>
      <img src="assets/profile.svg" alt="P" />
    </div>
  </nav>
  <div class="profile-container" [ngSwitch]="portalType">
    <app-employee-profile *ngSwitchCase="'customer'" style="width: 100%; height: 100%;"></app-employee-profile>
    <app-generic-profile *ngSwitchDefault style="width: 100%; height: 100%;"></app-generic-profile>

  </div>
</div>
