<div class="dashboard">
  <nav class="nav-container">
    <div class="logo-1">
      <img src="assets/kaar.svg" alt="D" />
    </div>
    <div class="directory-name">
      <span>PROFILE SETTINGS</span>
    </div>
    <div class="profile">
      <img src="assets/profile.svg" alt="P" />
    </div>
  </nav>
  <div class="profile-container">
    <div class="basic-sidebar">
      <div class="collapse-container">
        <div class="collapse">
          <img (click)="collapseSidebar()" rotated="false" src="assets/collapse-icon.svg" alt="">
        </div>
        <div class="sidebar-items">
          <div class="sidebar-item sidebar-item-active" full-form="BASIC" short-form="B">BASIC</div>
          <div class="sidebar-item" full-form="ADDITIONAL DETAILS" short-form="A">ADDITIONAL DETAILS</div>
        </div>
      </div>
    </div>
  </div>
</div>
