<div class="dashboard">
  <nav class="nav-container">
    <div routerLink='/' class="logo-1">
      <img src="assets/kaar.svg" alt="D" />
    </div>
    <div class="directory-name">
      <span>PROFILE SETTINGS</span>
    </div>
    <div class="profile">
      <button class="go-to-btn">GO TO PORTAL</button>
      <img src="assets/profile.svg" alt="P" />
    </div>
  </nav>
  <div class="profile-container">
      <app-employee-profile style="width: 100%; height: 100%;"></app-employee-profile>
  </div>
</div>
