@import '~bootstrap/dist/css/bootstrap.min.css';

.bar-graph{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width: 100%;
    background-color: #fff;
}

.heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #204173;
    width: 100%;
}

